body{
	 background-image: url("http://subtlepatterns.com/patterns/ricepaper.png"); 
	 position: relative;
}
.nav{
	background-image: url("http://i.imgur.com/GFWdX1a.png");
	background-size: 100%;
	height: 70px;
}
.logo{
	margin-top:15px; 
}
.nav-btn{
	height: 70px;
	float: right;
}
.flag{
    width:100%;
    border: solid;
    height: 45%;
}
h1,h4{
	font-family: 'Lobster', cursive, Microsoft JhengHei;
}
h4{
	line-height:50px;
	font-size: 1.5em;
}
ul{
	list-style-type: none;
}
.landmark{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.sensor{
	height: 500px;
	position: relative;
	text-align: center;
}
.footer{
	width: 100%;
	height: 30px;
	position: absolute;
}
.foot-btn{
	position:absolute;
	right: 0px; 
}
#q{
	width: 70px;
	height: 70px;
	margin: auto;
}
#q-block{
	margin-top: 5%;
	margin-left: 40%;
	padding: 10px;
	position: absolute;
	text-align: center;
	background-color: #FDD290;
	border: solid #968D80;
	-webkit-border-radius: 20px 20px;
	border-radius: 20px 20px;
	z-index: 1;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	box-shadow: 0 1px 5px rgba(0,0,0,0.75);
}
